pin-depends: [
  [ "libspng.dev" "git+https://github.com/eWert-Online/esy-libspng.git#opam"]
  [ "cdp.dev" "git+https://github.com/eWert-Online/reason-cdp.git#ebb07093e93a27e302afde04296fbc4d22f83948"]
  [ "odiff-core.dev" "git+https://github.com/dmtrKovalenko/odiff.git#5a9a1976c553b6c57c32c4e9dcf185bbcdaf1fca"]
]