name: Publish to npm / Docker

on:
  push:
    branches:
      - "**"
    branches-ignore:
      - "docs"
  release:
    types: [prereleased, released]

jobs:
  build-static:
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      # Checkout the projects sources
      - uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build statically linked package
        uses: docker/build-push-action@v2
        with:
          context: .
          file: docker/Dockerfile
          push: false
          load: true
          tags: osnap:build
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Get packages from container
        run: |
          docker create -ti --name build osnap:build sh
          docker cp build:/usr/app/_release ./_release
          docker cp build:/usr/local ./_build
          docker rm -f build

      - name: Tar static build
        run: |
          tar -cvf static-build.tar _build

      - uses: actions/upload-artifact@v2
        with:
          name: static-build
          path: static-build.tar

      # Upload the npm package as an artifact
      - uses: actions/upload-artifact@v2
        with:
          name: ubuntu-latest
          path: _release/

  build-platform:
    if: ${{ github.event_name != 'push' || github.ref == 'refs/heads/master' }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-latest
          - macOS-latest
    runs-on: ${{ matrix.os }}
    steps:
      # Setup node to install esy
      - uses: actions/setup-node@v2
        with:
          node-version: 14

      # Install esy globally
      - name: Install esy
        run: |
          npm install -g @esy-nightly/esy

      # Checkout the projects sources
      - uses: actions/checkout@v2

      # Add an esyrc to set the cache path for esy.
      # We do this because of this issue with esy: https://github.com/esy/esy/issues/1083
      - name: Add esyrc
        run: |
          echo '{ "prefixPath": ".esy" }' > .esyrc

      - uses: esy/github-action@master
        with:
          cache-key: ${{ matrix.os }}-${{ hashFiles('esy.lock/index.json') }}
          esy-prefix: .esy

      # Create the NPM package for this platform
      - name: Create npm package
        run: esy release

      # Upload the npm package as an artifact
      - uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.os }}
          path: _release/

  prepare-publish:
    name: Prepare publish to npm
    if: ${{ github.event_name != 'push' || github.ref == 'refs/heads/master' }}
    needs: [build-platform, build-static]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v2
        with:
          node-version: 14
          registry-url: https://registry.npmjs.org/

      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
          ref: ${{ github.ref }}
          submodules: true

      # Download platform artifacts
      - name: Download Linux release
        uses: actions/download-artifact@v2
        with:
          name: ubuntu-latest
          path: ubuntu-latest

      - name: Download Windows release
        uses: actions/download-artifact@v2
        with:
          name: windows-latest
          path: windows-latest

      - name: Download macOS release
        uses: actions/download-artifact@v2
        with:
          name: macOS-latest
          path: macOS-latest

      # Move artifacts in place
      - name: Move artifacts
        run: |
          mkdir -p _release/platform-linux
          mkdir -p _release/platform-windows-x64
          mkdir -p _release/platform-darwin
          cp -a ubuntu-latest/. _release/platform-linux
          cp -a windows-latest/. _release/platform-windows-x64
          cp -a macOS-latest/. _release/platform-darwin

      - name: Prepare package
        run: node .github/workflows/bundle-release.js

      - name: Increment nightly version
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        run: node ./.github/workflows/incr-nightly-version.js ./_release/package.json

      # Create a npm package that can easily be published and tested
      - name: npm pack
        run: npm pack .
        working-directory: _release

      - name: move package
        run: mv _release/*.tgz osnap.tgz

      # Upload artifacts
      - uses: actions/upload-artifact@v2
        with:
          name: release
          path: _release/

      - uses: actions/upload-artifact@v2
        with:
          name: release-tarball
          path: osnap.tgz

  test-platform:
    name: Test installing ${{ matrix.os }}
    if: ${{ github.event_name != 'push' || github.ref == 'refs/heads/master' }}
    needs: prepare-publish
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
    steps:
      - uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Download ${{ matrix.os }} release
        uses: actions/download-artifact@v2
        with:
          name: release-tarball

      - name: test install
        run: npm -g install ./osnap.tgz

      - name: test binary
        run: npx osnap --help=plain

  publish:
    if: ${{ github.event_name != 'push' || github.ref == 'refs/heads/master' }}
    runs-on: ubuntu-latest
    needs: [prepare-publish, test-platform]
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: 14
          registry-url: https://registry.npmjs.org/

      - name: Download release package
        uses: actions/download-artifact@v2
        with:
          name: release-tarball

      - name: npm publish nightly
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        run: npm publish ./osnap.tgz --tag=nightly --access=public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: npm publish prerelease
        if: ${{ github.event_name == 'release' }}
        run: npm publish ./osnap.tgz --tag=next --access=public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: npm publish
        if: ${{ github.event_name == 'release' && !github.event.release.prerelease }}
        run: npm publish ./osnap.tgz --tag=latest --access=public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  publish-docker-containers:
    needs: build-static
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        container:
          - ubuntu
          - node-lts
    steps:
      - name: Free Disk Space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      - uses: actions/checkout@v2

      - uses: actions/download-artifact@v2
        with:
          name: static-build
          path: .

      - name: Extract Artifacts
        run: |
          tar -xvf static-build.tar

      - name: List binaries
        run: |
          ls -lah ./_build/bin
          ls -lah ./_build/share/.config/yarn/global/node_modules/.bin
          ls -lah ./_build/share/.config/yarn/global/node_modules/@space-labs/osnap/bin

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Publish Nightly ${{ matrix.container }}
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        uses: docker/build-push-action@v2
        with:
          context: .
          file: docker/Dockerfile.${{ matrix.container }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: osnap/${{ matrix.container }}:nightly
          # Enabling this overwrites all other caches, so no container is cached...
          # cache-from: type=gha
          # cache-to: type=gha,mode=max

      - name: Build & Publish nightly-${{ github.ref_name }} ${{ matrix.container }}
        if: ${{ github.event_name == 'push' && github.ref != 'refs/heads/master' }}
        uses: docker/build-push-action@v2
        with:
          context: .
          file: docker/Dockerfile.${{ matrix.container }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: osnap/${{ matrix.container }}:nightly-${{ github.ref_name }}
          # Enabling this overwrites all other caches, so no container is cached...
          # cache-from: type=gha
          # cache-to: type=gha,mode=max

      - name: Build & Publish Next ${{ matrix.container }}
        if: ${{ github.event_name == 'release' }}
        uses: docker/build-push-action@v2
        with:
          context: .
          file: docker/Dockerfile.${{ matrix.container }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: osnap/${{ matrix.container }}:next
          # Enabling this overwrites all other caches, so no container is cached...
          # cache-from: type=gha
          # cache-to: type=gha,mode=max

      - name: Build & Publish ${{ matrix.container }}
        if: ${{ github.event_name == 'release' && !github.event.release.prerelease }}
        uses: docker/build-push-action@v2
        with:
          context: .
          file: docker/Dockerfile.${{ matrix.container }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: osnap/${{ matrix.container }}:${{ github.event.release.tag_name }}
          # Enabling this overwrites all other caches, so no container is cached...
          # cache-from: type=gha
          # cache-to: type=gha,mode=max

      - name: Build & Publish Latest ${{ matrix.container }}
        if: ${{ github.event_name == 'release' && !github.event.release.prerelease }}
        uses: docker/build-push-action@v2
        with:
          context: .
          file: docker/Dockerfile.${{ matrix.container }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: osnap/${{ matrix.container }}:latest
          # Enabling this overwrites all other caches, so no container is cached...
          # cache-from: type=gha
          # cache-to: type=gha,mode=max
